<!--if:platform:yes-->
<form class="site-platform" action="javascript:void(0);" method="post" id="ajaxplatform">
  <div class="sel-plat"><legend></legend>
    <select name="ajaxpid" class="sw150">
      <option value="0">----</option>
      <!--{option_platform}-->
    </select></div>
  <input type="hidden" name="dn" value="platform">
  <button class="plat" type="submit" onclick="$.platform();">Установить</button>
</form>
<!--if-->


<div class="menu-toggle">
  <!--<img id="menup" src="{adm_path}/template/skin/{adm_temp}/images/{type_arrow}.gif" alt="{openclose}" />-->
</div>