<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="amountpages">
    <div class="paginat amount">
        <a class="pages pagnu_10 disabled selpag" href="javascript:void(0);" data-nu="10">10</a>
        <a class="pages pagnu_25" href="javascript:void(0);" data-nu="25">25</a>
        <a class="pages pagnu_50" href="javascript:void(0);" data-nu="50">50</a>
        <a class="pages pagnu_75" href="javascript:void(0);" data-nu="75">75</a>
    </div>
</th:block>
<th:block th:fragment="listpages">
    <div class="paginat amount">
        <a class="pages pagnu_10 disabled selpag" href="javascript:void(0);" data-nu="10">10</a>
        <a class="pages pagnu_25" href="javascript:void(0);" data-nu="25">25</a>
        <a class="pages pagnu_50" href="javascript:void(0);" data-nu="50">50</a>
        <a class="pages pagnu_75" href="javascript:void(0);" data-nu="75">75</a>
    </div>
</th:block>
</body>
</html>